//light
$primary-bg-light: $base-white
$secondary-bg-light: #A5A2B8

$primary-border-light: #F4F2FB

$primary-text-light: #352E5B
$secondary-text-light: #A5A2B8
$third-text-light: #C0BBE0

//dark
$primary-bg-dark: #110E22
$secondary-bg-dark: #0D0B1C

$primary-border-light: rgba(193, 189, 212, 0.12)

$primary-text-dark: #E1DFEC
$secondary-text-dark: rgba(225, 223, 236, 0.5)
$third-text-dark: rgba(255, 255, 255, 0.5)
